@media screen {

  div#ui{
    display: flex;
    flex-wrap: wrap;

    border: 2px solid gray;
    border-radius: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  div#ui>div.ui-title{
    flex-basis: 100%;
    text-align: center;
    border-bottom: lightgrey;
    flex-grow: unset;
  }
  div#ui>div.ui-title h1{
    margin-bottom: .25em;
  }
  div#ui-config{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    border-top:1px solid grey;
  }
  div#ui-config>div{
    padding: 1em;
    border: 1px dotted lightgrey;
    flex-grow: 1;
  }
  div#ui-config>div h3{
    text-align: center;
  }
  #in-set-multi-check{
    display: none;
  }
  #in-set-multi-check-list{
    height: 10em;
    width: 100%;
  }
  #ui-info{
    display: table-cell;
    flex-basis: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color: grey;
    text-align: center;
    border:1px solid grey;
    vertical-align: center;
  }
  div#ui-config textarea {
    width: 100%;
    white-space: pre;
    resize: vertical;
    height: 10em;
  }
  div#ui-saveconf,
  div#ui-saveconf div{
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    padding: 0.5em;
  }
  div#ui-saveconf{
    flex-wrap: wrap;
  }
}
