
.label.label-special > .label-text >.txt-set{
  display: none;
}
.label.label-special.alt-1 > .label-text {
  display: none;
}
.label.label-special.alt-1 > .horiz-barcode ~ .label-text {
  display: block;
  flex-basis: 1em;
  min-height: fit-content;
}
.label.label-special.alt-1 > .horiz-barcode ~ .label-text > span:not(.txt-name) {
  display: none;
}
.label.label-vert {
  flex-direction: column;
}
.label.label-vert > .label-image {
  min-height: 30%;
  max-height: 100%;
  max-width: 95%;
  flex: 2 1 auto;
  margin-top: 0;
  margin-bottom: 1%;
}
.label.label-vert > .label-text {
  margin-top: 0;
  margin-bottom: 0.01em;
  min-height: 2em;
  line-height: 0.8em;
}

.label.label-QR > .label-text {
  font-size: 0.75em;
  padding-right: 1em;
}
