@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@page {
  size: letter;
  margin: 0mm;
}
@media screen {
  .label {
    border-style: dotted;

  }
}
@media print {
  .label {
    border-style: none;
  }
  .labelgrid {
    page-break-after: always;
  }
  body {
    margin: 0mm;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
}
.labelgrid {
  /* Compuuted properties */

  --page-width: 8.5in;
  --page-height: 11in;

  --n-rows: 17;
  --n-cols: 5;

  --label-width: 1.28in;
  --label-height: 0.5in;

  --label-pitch-vert: 0.63in;
  --label-pitch-hor:  1.4in;

  --top-margin: 0.24in;
  --side-margin: 0.77in;

  --col-gap-calc: var(--col-gap,calc(var(--label-pitch-hor) - var(--label-width)));
  --row-gap-calc: var(--col-gap,calc(var(--label-pitch-hor) - var(--label-width)));

  --bottom-margin: var(--top-margin);
  --right-margin: var(--side-margin,var(--left-margin));
  --left-margin: var(--side-margin,var(--right-margin));



  display: grid;
  box-sizing: border-box;
  
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  width: var(--page-width,8.5in);
  height: var(--page-height,11in);
  padding: var(--top-margin) var(--right-margin,var(--side-margin)) var(--bottom-margin,var(--top-margin)) var(--left-margin,var(--side-margin));

  grid-template-columns: repeat(var(--n-cols),var(--label-width));
  grid-template-rows: repeat(var(--n-rows), var(--label-height));

  column-gap: var(--col-gap,var(--col-gap-calc));
  row-gap: var(--row-gap,var(--col-gap-calc));
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: var(--label-width);
  height: var(--label-height);
  padding: 2%;

  overflow: hidden;

  font-family:  'Atkinson Hyperlegible', Arial, Helvetica, sans-serif;
  font-size: 8pt;
  font-weight: 100;
  text-align: center;
}
.label b {
  font-weight: bold;
}
